body {
  background: #222;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
}

.player {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
}

.controls button {
  font-size: 24px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

input[type="range"] {
  width: 80%;
  margin: 10px 0;
}